<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: '32x32' }}">
    {%- endif -%}


    {%- if page_title == blank -%}
      <div class="grid-cols-1 grid-cols-2 grid-cols-3 grid-cols-4 grid-cols-5 grid-cols-6" />
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ page_title }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};


        --font-size-xs: {{ settings.type_font_size_xs }};
        --line-height-xs: {{ settings.type_line_height_xs }};
        --font-size-sm: {{ settings.type_font_size_sm }};
        --line-height-sm: {{ settings.type_line_height_sm }};
        --font-size-base: {{ settings.type_font_size_base }};
        --line-height-base: {{ settings.type_line_height_base }};
        --font-size-lg: {{ settings.type_font_size_lg }};
        --line-height-lg: {{ settings.type_line_height_lg }};
        --font-size-xl: {{ settings.type_font_size_xl }};
        --line-height-xl: {{ settings.type_line_height_xl }};
        --font-size-2xl: {{ settings.type_font_size_2xl }};
        --line-height-2xl: {{ settings.type_line_height_2xl }};
        --font-size-3xl: {{ settings.type_font_size_3xl }};
        --line-height-3xl: {{ settings.type_line_height_3xl }};
        --font-size-4xl: {{ settings.type_font_size_4xl }};
        --line-height-4xl: {{ settings.type_line_height_4xl }};

        --color-primary: rgb({{ settings.color_primary.red }}, {{ settings.color_primary.green }}, {{ settings.color_primary.blue }});
        --color-secondary: rgb({{ settings.color_secondary.red }}, {{ settings.color_secondary.green }}, {{ settings.color_secondary.blue }});
        --color-accent: rgb({{ settings.color_accent.red }}, {{ settings.color_accent.green }}, {{ settings.color_accent.blue }});
        --color-background-primary: rgb({{ settings.color_background_primary.red }}, {{ settings.color_background_primary.green }}, {{ settings.color_background_primary.blue }});
        --color-background-secondary: rgb({{ settings.color_background_secondary.red }}, {{ settings.color_background_secondary.green }}, {{ settings.color_background_secondary.blue }});
        --color-text-primary: rgb({{ settings.color_text_primary.red }}, {{ settings.color_text_primary.green }}, {{ settings.color_text_primary.blue }});
        --color-text-secondary: rgb({{ settings.color_text_secondary.red }}, {{ settings.color_text_secondary.green }}, {{ settings.color_text_secondary.blue }});
        --color-border: rgb({{ settings.color_border.red }}, {{ settings.color_border.green }}, {{ settings.color_border.blue }});

        --color-base-text: {{ settings.color_text.red }}, {{ settings.color_text.green }}, {{ settings.color_text.blue }};
        --color-base-background-1: {{ settings.color_background_primary.red }}, {{ settings.color_background_primary.green }}, {{ settings.color_background_primary.blue }};
        --color-base-background-2: {{ settings.color_background_secondary.red }}, {{ settings.color_background_secondary.green }}, {{ settings.color_background_secondary.blue }};
        --color-base-solid-button-labels: {{ settings.color_background_primary.red }}, {{ settings.color_background_primary.green }}, {{ settings.color_background_primary.blue }};
        --color-base-outline-button-labels: {{ settings.color_background_secondary.red }}, {{ settings.color_background_secondary.green }}, {{ settings.color_background_secondary.blue }};
        --color-base-accent-1: {{ settings.color_primary.red }}, {{ settings.color_primary.green }}, {{ settings.color_primary.blue }};
        --color-base-accent-2: {{ settings.color_secondary.red }}, {{ settings.color_secondary.green }}, {{ settings.color_secondary.blue }};
        --payment-terms-background-color: {{ settings.color_background_primary }};

        --container-style: {{ settings.container_style }};
        --container-width: {{ settings.container_width }};
        --container-width-sm: {{ settings.container_width_sm }};
        --container-width-md: {{ settings.container_width_md }};
        --container-width-lg: {{ settings.container_width_lg }};
      }

      body {
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }
    {% endstyle %}

    {{ 'main.bundle.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>

  <body>
    {% comment %} <div class="container exampleWidth">
      <h4>Container Style</h4>
      <span>{{ settings.container_style }} </span>
      <h4>Container Width</h4>
      <span>{{ settings.container_width }} </span>
    </div> {% endcomment %}
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'announcement-bar' %}
    {% section 'header' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }
    </script>
  </body>
</html>
